:root {
  --bg-color: #393f6e;
  --bg-color-lighter: #343964;
  --white: #e2e4f3;
  --gradient: linear-gradient(#e65895, #bc6be8);
  --gray: #8b8eab50;
}

.loginContainer {
  padding: 0.5rem;
  width: 20rem;
}

.title {
  color: var(--white);
  text-align: center;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--white);
}

.field input {
  height: 2rem;
  border-radius: 8px;
  border: none;
  padding: 0.4rem;
}

.field input:active,
.field input:focus {
  outline: none;
}

.submitButton {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: var(--gradient);
  color: var(--white);
  font-size: 1rem;
}

.submitButton:hover {
  opacity: 0.8;
}

.changeForm {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}

.changeForm b {
  cursor: pointer;
}
